[submodule "vendor/mpm"]
	path = vendor/mpm
	url = git@github.com:MeshEnvy/mpm.git
[submodule "vendor/lobbs"]
	path = vendor/lobbs
	url = git@github.com:MeshEnvy/lobbs.git
[submodule "vendor/lodb"]
	path = vendor/lodb
	url = git@github.com:MeshEnvy/lodb.git
[submodule "vendor/meshscript"]
	path = vendor/meshscript
	url = git@github.com:MeshEnvy/meshscript.git
[submodule "vendor/meshcore-flasher"]
	path = vendor/meshcore-flasher
	url = git@github.com:meshcore-dev/flasher.meshcore.dev.git
[submodule "vendor/lofs"]
	path = vendor/lofs
	url = git@github.com:MeshEnvy/lofs.git
[submodule "vendor/lofs-test"]
	path = vendor/lofs-test
	url = git@github.com:MeshEnvy/lofs-test.git
